@{ }

<div class="page-header">
    <h1>Dashboard</h1>
</div>

<div class="row">
    <div class="span4">
        <h2>
            CPU 
        </h2>

        <div class="well">
            Graph goes here.
        </div>
    </div>
    <div class="span4">
        <h2>Memory</h2>

        <div class="well">
            Graph goes here.
        </div>
    </div>
    <div class="span4">
        <h2>Disk</h2>

        <div class="well">
            Graph goes here.
        </div>
    </div>
</div>

<p>
    <!--<a href="#" class="btn btn-large btn-primary">Add Monitor</a>-->
</p>

@section footer {
<script type="text/javascript">
    $(function () {
    });
</script>
}



